#App {
  text-align: center;
}

body {
  background-color: #1976d2 !important;
}

input {
  margin-top: 6px;
  min-width: 300px;
  height: 37px;
  padding: 0px 10px;
  margin-bottom: 31px;
}

.login-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formgroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}