.page-container {
  text-align: center;
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex: 1;
}

.darkmodePrimary{
  background-color: #24262e !important;
}

.darkmodeSecondary{
  background-color: #2a2d38 !important;
}

body {
  background-color: #610C8D;
}

#swipenavbar {
  background-color: #4F0675;
  height: 65px;
  position: relative;
}

#footer {
  color: whitesmoke;
  background-color: #4F0675;
  padding-top: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
  align-items: center;
}

.footer-content {
  margin-right: 30px;
}

#loopalumpa {
  width: 400px;
  height: 400px;
  background-color: blue;
}

#moviedisplay div {
  display: inline-block;
  margin: 10px;
}

.text-reposition {
  text-align: center;
}

.movieimg {
  width: 250px ;
  height: 400px;
}

.backgroundcover {
  width: 330px;
  height: 565px;
  border-radius: 20px;
  background-color: whitesmoke;
  overflow: auto;
}

#loginform {
  color: white;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registerform {
  color: white;
  margin-top: 40px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formgroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

label {
  font-size: 20px;
}

input {
  color: black;
  margin-top: 6px;
  min-width: 300px;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: whitesmoke;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
  outline: none;
  box-shadow: 0px 0px 12px 0.8px white;
}

#login-register {
  align-items: center;
  display: inline-block;
}

#setting-list {
  margin:auto;
  width: 300px;
  height: 350px;
  padding: 5px;
  margin-top: 100px;
}

#new-movie div{
  display: inline-block;
  margin: 10px;
}

.backgroundcover2 {
  width: 310px;
  height: 550px;
  border-radius: 20px;
  background-color: whitesmoke;
}

.welcome-message {
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
}

.displayprices {
  width: 380px;
  height: 380px;
  background-color: whitesmoke;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 35px;
}

.routelinkreact {
  color: transparent;
}

#userprofile  {
  color: whitesmoke;
  background-color: #4F0675;
  display: inline-block;
  margin: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: visible;
}

#grid {
  width: 100%;
}

#profilecontent {
  text-align: center;
  margin: 20px;
}

#profile-logo {
  margin-top: 30px;
}

.acc-button-arrangement {
  display: inline-flex;
  margin-bottom: 12px;
}

#loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
}

#moviecontents {
  width: 330px; 
  height: 565px; 
  border-radius: 20px; 
  background-color: whitesmoke; 
  overflow: visible;
}

.movie-image {
  margin: auto;
}

.errormssg {
  color: red;
}

.errormssg::before {
  display: inline;
  content: "⚠ ";
}

.MuiInputBase-input {
  background-color: whitesmoke !important;
  min-width: 320px !important;
}

.MuiDialogContent-root {
  flex: 1 1 auto;
  padding: 8px 10px !important;
  overflow-y: auto;
}

#seat-items-container {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 300px;
  margin: auto;
}

#seats {
  margin: 4px;
  flex: 0 1 calc(20% - 8px);
}

.movie-img-cover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50px;
  margin-left: 7%;
  width: 85%;
  height: 50%;
  /* display: inline-block; */
}

#grid-MovieIMG {
  /* width: 100%; */
  height: auto;
}

/* #seat-id {
  color: white;
  background-color: white;
}

#ticket-type {
  color: white;
  background-color: white;
} */


/* @media all and (max-width: 360px) {
  #userprofile  {
    width: 80%;
  }

  .acc-button-arrangement {
    display: inline-flex;
    text-align: center;
    margin-right: -110px;
  }
  .acc-update-button {
    width: 25%;
  }

  .acc-logout-button {
    width: 25%;
  }

  .acc-delete-button {
    width: 25%;
  }



  /* #testmovies {
    margin: 70px 30px 80px;
    max-width: 400px;
    height: 500px;
    background-color: white;
    overflow: auto;
  } */

